<div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-center">Live Demand</h3>
   </div>
  <div class="panel-body">
   <table class="table table-condensed text-center">
     <tr>
       <td>
         <h1 ng-if="demand.watts" ng-class="demand.status" tooltip="{{demand.tooltip}}">{{demand.watts}}{{demand.amps}}</h1>
       </td>
     </tr>
     <tr>  
      <td>
         <div fader>{{demand.cost}}</div>
      </td>
     </tr>
   </table>
  </div>
</div>

