<div class="container" style="width:668px">

      <form class="form-signin" ng-hide="auth.user" ng-submit="auth.login(auth.email, auth.password)">
        <h2 class="form-signin-heading text-center">Please log in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" ng-model="auth.email" class="form-control input-lg" placeholder="Email address" required autofocus>
        </br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" ng-model="auth.password" class="form-control input-lg" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" style="width:100px; margin:auto;" type="submit"><i class="fa fa-sign-in"></i> Log in</button>
      </form>
      </br>
      <div ng-show="auth.error" class="text-center alert alert-danger fadeIn" role="alert"><i class="fa fa-exclamation-triangle"></i> {{auth.error}}</div>
      <div ng-show="auth.user">
        <h2>Welcome {{auth.user}}</h2>
      </div>
    
    </div> <!-- /container -->