<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">
<!-- <strong>username</strong>: <%= user.username %> -->
<a href="/logout" class="btn btn-default btn-sm">Lock <i class="fa fa-lock"></i></a></p>
