<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Dashboard</title>

<link rel="stylesheet" href="/css/slate/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/font-awesome-4.2.0/css/font-awesome.min.css" type="text/css">
<style>
	body 	{ padding-top:50px;}

</style>
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/js/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/js/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/js/jqplot/jquery.jqplot.css" />
<script src="/socket.io/socket.io.js"></script>
