<!-- views/partials/header.ejs -->

<body class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>          
	<a class="navbar-brand" href="#"><i class="fa fa-tachometer"></i> Dashboard </a>  
	</div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/control-panel">Control Panel</a></li>
            <li><a href="/console">Console</a></li>
	   <li><a href="/logout">Lock  <i class="fa fa-lock"></i></li>
          </ul>
        </div>
      </nav>