        <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>          
  <a class="navbar-brand" ui-sref-active="active" ui-sref="index"><i class="fa fa-tachometer"></i> Dashboard </a>  
  </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a ng-show="nav.loggedIn" ui-sref="demand"><i class="fa fa-line-chart"></i></i> Demand</a></li>
            <li><a ng-show="nav.loggedIn" ui-sref="history"><i class="fa fa-bar-chart"></i> History</a></li>
            <li><a ng-show="nav.loggedIn" ui-sref="index" ng-click="nav.logout()"><i class="fa fa-times"></i> Logout</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <div ng-show="nav.loggedIn" class="navbar-text label label-success"><i class="fa fa-user"></i> {{nav.loggedIn}} {{nav.expire}}</div>
          </ul>  
        </div>
      