@charset "UTF-8";

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInGreen {
  0% {
    opacity: 0;
    color: #339933;
  }

  100% {
    opacity: 1;
    
  }
}

@keyframes fadeInGreen {
  0% {
    opacity: 0;
    color: #339933;
  }

  100% {
    opacity: 1;
    

  }
}

.fadeInGreen {
  -webkit-animation-name: fadeInGreen;
  animation-name: fadeInGreen;
}

@-webkit-keyframes fadeInRed {
  0% {
    opacity: 0;
    color: #CC0000;
  }

  100% {
    opacity: 1;
    
  }
}

@keyframes fadeInRed {
  0% {
    opacity: 0;
    color: #CC0000;
  }

  100% {
    opacity: 1;
    

  }
}

.fadeInRed {
  -webkit-animation-name: fadeInRed;
  animation-name: fadeInRed;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    
  }

  100% {
    opacity: 1;
    
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    
  }

  100% {
    opacity: 1;
    

  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}