<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
	<style>
            tr.nobordertop {border-top-style: solid;
						 border-top-color: #2e3338;}
	    tr.noborderbott  {border-bottom-style: solid;
						 border-bottom-color: #2e3338;}
            </style>
		 <div class="alert alert-danger alert-dismissible" role="alert" id="socketclass">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <i class="fa fa-cog fa-spin"></i> <strong>Socket Status: </strong><span id="socketstatus">Disconnected</span>
      </div>
      <div class="row">
        <div class="col-md-4">
	    <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
				
		<i class="fa fa-bolt"></i> 
	<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		Demand</a>
              </h3>
            </div>
	   <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	    <table class="table">
				<tr class="nobordertop">
					<td id="demand"><i class="fa fa-spinner fa-spin"></td>
					<td id="current"><i class="fa fa-spinner fa-spin"></td>
				</tr>
				<tr>
					<td colspan="2" id="demandcounter"></td>
				</tr>
			</table> 
          </div>
        </div>
	</div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
               <i class="fa fa-usd"></i> 
	<a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">		
		Cost</a>
              </h3>
            </div>
<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
<table class="table">
  <tr class="nobordertop">
    <th colspan="2" id="billPeriodStartDate"><i class="fa fa-spinner fa-spin"></th>
  </tr>
  <tr>
    <td>Current Bill</td>
    <td id="billEstimate"><i class="fa fa-spinner fa-spin"></td>
  </tr>
  <tr>
    <td>Cost/Hour</td>
    <td id="costPerHour"><i class="fa fa-spinner fa-spin"></i></td>
  </tr>
  <tr>
    <td>Price/KWh</td>
    <td id="pricePerKwh"><i class="fa fa-spinner fa-spin"></td>
  </tr>
  <tr>
    <td>Low Rate Allowance</td>
    <td id="lowRateQuotaKwh"><i class="fa fa-spinner fa-spin"></td>
  </tr>
  <tr>
    <td>KWhs Used</td>
    <td id="currentKwhPeriod"><i class="fa fa-spinner fa-spin"></td>
  </tr>
  <tr class="nobordertop">
    <td colspan="2"><div class="progress">
	<div class="progress-bar- progress-bar-success text-center" id="percentageQuota" role="progressbar" aria-valuenow="0" aria-valuemin="0" aira-valuemax="100" style="width: 0%;">
	0%
	</div> 
	</div></td>
  </tr>
  <tr>
    <td>KWhs Remaining</td>
    <td id="kwhsQuotaRemaining"></td>
  </tr>
</table>
	</div>    
	 </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-wrench"></i> 
		<a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">		
		Meter Information</a>
              </h3>
            </div>
	    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
        <table class="table">
  <tr class="nobordertop">
    <td>Meter Reading</td>	
    <td id="meterReading"><i class="fa fa-spinner fa-spin"></td>
  </tr>
  <tr>
    <td>Meter Status</td>
    <td id="meterStatus"><i class="fa fa-spinner fa-spin"></td>
  </tr>
  <tr>
    <td>Channel</td>
    <td id="meterChannel"><i class="fa fa-spinner fa-spin"></i></td>
  </tr>
  <tr>
    <td>Link Strength</td>
    <td id="linkStrength"><i class="fa fa-spinner fa-spin"></i></td>
  </tr>
  <tr>
    <td>Indoor Temperature</td>
    <td id="moteinoTemp"><i class="fa fa-spinner fa-spin"></i></td>
  </tr>
  <tr>
    <td>Indoor Humidity</td>
    <td id="moteinoHum"><i class="fa fa-spinner fa-spin"></i></td>
  </tr>
  <tr>
    <td>Switch Status</td>
    <td id="remSwitchStatus"><i class="fa fa-spinner fa-spin"></i></td>
  </tr>
  <tr>
    <td>Switch On/Off</td>
    <td><button id="switchOn" onclick="switchFunc(1)" class="btn btn-default">On</button><button id="switchOff" onclick="switchFunc(0)" class="btn btn-default">Off</button></td>
  </tr>
 </table>   
          </div>
 	</div>
      </div>
    </div>
<script src="/js/clientsocket.js"></script>	
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>
