<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Authentication Required</title>
	<link rel="stylesheet" href="/css/slate/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/font-awesome-4.2.0/css/font-awesome.min.css" type="text/css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Authentication Required <i class="fa fa-sign-in"></i></h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label>Remember Me</label>
                    <input type="checkbox" name="remember" value="yes">
                </div>
		<center>
                <button type="submit" class="btn btn-warning btn-lg">Unlock <i class="fa fa-unlock"></i></button>
        	</center>    
	</form>

            <hr>

            </div>
    </div>
</body>
</html>
