
        
        <h3>7 Day Energy Usage</h3>
              
<table class="table text-center table-hover table-responsive">
  <tr>
    <th class="text-center active">Date</th>
    <th class="text-center active">Energy</th>
    <th class="text-center active">Cost</th>
  </tr>
  <tr ng-repeat="energydata in history.energy" class="fadeIn">
    <td>{{energydata.date}}</td>
    <td>{{energydata.energy}} Kwhs</td>
    <td>${{energydata.cost}}</td>
  </tr>
</table>
                   
                  